<% include header.ejs %>
<script src="/socket.io/socket.io.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2 col-md-2 ">
            <% include userDetials.ejs %>
        </div>
        <div class="col-xs-10 col-md-10 ">
            <ul class="breadcrumb">
              <li><a href="/">Home</a></li>
              <li class="active">Ipython notebook</li>
            </ul>
            <div id="ipython" class="list-group">
            </div>
        </div>
    </div>
</div>
<script>
    var socket = io();
    function setPassword(port){
	$("#ipython").empty().append("<legend>Sign up</legend><div class='form-group'><label class='col-sm-3 control-label' for='port'>port</label><div class='col-sm-9'><input type='text' class='form-control' id='port' name='port' value='"+port+"' disable></div></div><div class='form-group'><label class='col-sm-3 control-label' for='password'>Password</label><div class='col-sm-9'><input type='password' class='form-control' id='password' name='password' placeholder='Password' required></div></div><div class='form-group'><div class='col-sm-offset-3 col-sm-9'><button type='submit' class='btn btn-primary'>Submit</button></div></div>")}

    function openIpython(port){
        socket.emit('openIpython', "<%= user.username %>", port);
        $("#ipython").empty();
        setTimeout("socket.emit('reqIpythonList', '<%= user.username %>')", 500);
    }

    function closeIpython(port){
        socket.emit('closeIpython', "<%= user.username %>", port);
        $("#ipython").empty();
        setTimeout("socket.emit('reqIpythonList', '<%= user.username %>')", 500);
    }

    function delIpython(port){
        socket.emit('delIpython', "<%= user.username %>", port);
        $("#ipython").empty();
        setTimeout("socket.emit('reqIpythonList', '<%= user.username %>')", 500);
    }

    socket.emit('reqIpythonList', "<%= user.username %>");
    socket.on('giveIpythonList', function(res){
        for(i=0; i<res.length; i++){
            if(res[i].isUsing){
                $("#ipython").append("<a href='https://localhost:" + res[i].port + "'target='_blank' class='list-group-item'>" + res[i].port + " " + res[i].domain + "<a href='#' class='btn btn-warning' onClick='closeIpython(" + res[i].port + ")'>close</a>" + "</a><div id='" + res[i].port + "'></div>");
            }
            else if(res[i].used){
                $("#ipython").append("<a href='#' class='list-group-item'>" + res[i].port + " " + res[i].domain + " " + "<a href='#'  class='btn btn-primary' onClick='openIpython(" + res[i].port + ")'>open</a>" + "<a href='#' class='btn btn-danger' onClick='delIpython(" + res[i].port + ")'>remove</a>" + "</a><div id='" + res[i].port + "'></div>");
            }
            else{
                $("#ipython").append("<a href='#' class='list-group-item'>" + res[i].port + " " + res[i].domain + " " + "<a href='#'  class='btn btn-primary' onClick='setPassword(" + res[i].port + ")'>open</a>" + "</a><div id='" + res[i].port + "'></div>");
            }
        }
        console.log(res);
    });
</script>
<% include footer.ejs %>
